@charset "UTF-8";

/*===== 기본 세팅 =====*/
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
:root {
  /* 기본컬러 */
  --background-main: #2e86de;
  --background-main-hover: #146cc4;
  --background-white: #fff;
  --background-sub: #f3f4f6;

  /* 배경색 */
  --color-bg-main: #f9fafb;
  --color-bg-sub: #f3f4f6;
  --color-bg-sub2: rgba(102, 108, 117, 0.3);
  --color-bg-sub3: rgb(102, 108, 117);
  --color-bg-point: #2e86de;
  --color-bg-point-hover: #146cc4;
  --color-bg-point-sub: rgba(46, 134, 222, 0.1);
  --color-bg-white: #fff;
  --color-bg-white-hover: rgba(75, 85, 99, 0.1);

  /* 텍스트 */
  --color-text-point: #2e86de;
  --color-text-main: #111827;
  --color-text-sub: #374151;
  --color-text-sub2: #666c75;
  --color-text-sub3: #b8860b;
  --color-text-sut4: #95a5a6;
  --color-text-sub5: #cd7f32;
  --color-text-white: #ffffff;
  --color-text-default: #4b5563;
  --color-text-error: #dc3545;
  --color-text-disabled: #b0b0b0;
  --color-text-black: #000000;

  /* 테두리 */
  --color-border-primary: 1px solid rgba(102, 108, 117, 0.3);
  --color-border-default: 1px solid #666c754d;

  /* 텍스트
	--color-text-black: #000;
    --color-text-main: #111827;
    --color-text-sub: #141921;
	--color-text-sub2: #666c75;
	--color-text-sub3: #B8860B;
	--color-text-sut4: #95A5A6;
	--color-text-sub5: #CD7F32;
    --color-text-white: #fff;
	--color-text-default: #4b5563;
	*/

  /* 그림자 */
  --color-shadow-default: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  --color-shadow-default: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  --color-shadow-primary: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body,
html {
  overflow-x: hidden;
  background: var(--color-bg-main) !important;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #000;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  list-style: none;
}

button {
  font-weight: 600;
}

/* 버튼 및 인풋 기본 설정 */
button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

textarea {
  box-sizing: border-box;
  resize: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 전체 컨텐츠 레이아웃 */
.content-wrap {
  margin-bottom: 0;
  position: relative;
}

@media screen and (max-width: 1024px) {
	.content-wrap { 
    width: 100% !important;
    min-width: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
  }
}
