@charset "UTF-8";

/*===== 기본 세팅 =====*/
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
:root {
  /* 기본컬러 */
  --background-main: #2e86de;
  --background-main-hover: #146cc4;
  --background-main-hover-light: rgba(46, 134, 222, 0.1);
  --background-white: #fff;
  --background-sub: #f3f4f6;

  /* 배경색 */
  --color-bg-main: #f9fafb;
  --color-bg-sub: #f3f4f6;
  --color-bg-sub2: rgba(102, 108, 117, 0.3);
  --color-bg-sub3: rgb(102, 108, 117);
  --color-bg-point: #2e86de;
  --color-bg-point-hover: #146cc4;
  --color-bg-point-sub: rgba(46, 134, 222, 0.1);
  --color-bg-white: #fff;
  --color-bg-white-hover: rgba(75, 85, 99, 0.1);

  /* 텍스트 */
  --color-text-point: #2e86de;
  --color-text-main: #111827;
  --color-text-sub: #374151;
  --color-text-sub2: #666c75;
  --color-text-sub3: #b8860b;
  --color-text-sut4: #95a5a6;
  --color-text-sub5: #cd7f32;
  --color-text-white: #ffffff;
  --color-text-default: #4b5563;
  --color-text-error: #dc3545;
  --color-text-disabled: #b0b0b0;
  --color-text-black: #000000;

  /* 테두리 */
  --color-border-primary: 1px solid rgba(102, 108, 117, 0.3);
  --color-border-default: 1px solid #666c754d;

  /* 그림자 */
  --color-shadow-default: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
  --color-shadow-primary: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body,
html {
  overflow-x: hidden;
  background: var(--color-bg-main) !important;
}
* {box-sizing: border-box; border: none;}
textare {resize: none;}
button {background-color: transparent; cursor:pointer;}


/* 유저 뱃지 */
/* 기본 */
.badge {
  width: fit-content;
  position: relative;
  margin: 0;
  padding: 4px 8px;
  color: rgb(207, 248, 255);
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: 9px;

  background-color: #CD7F32; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #CD7F32,   /* 배경색 좌측상단 */
      #FFC480    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );

  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-size: 100%, 200%;
  background-position: 0px, -250px;
  animation: 4s border-glint linear backwards infinite;
  animation-delay: 1s;
  box-shadow: var(--color-shadow-primary);
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.25s, text-shadow 0.25s;
  overflow: hidden;
}

.badge::after {
  content: " ";
  position: absolute;
  top: -50%;
  left: -120%;
  width: 200%;
  height: 200%;
  background-image: 
  linear-gradient(
    125deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 52%
  );
  animation: 4s glint linear backwards infinite;
  animation-delay: -3s;
}

/* 브론즈 */
.badge.bronze {
  background-color: #CD7F32; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #CD7F32,   /* 배경색 좌측상단 */
      #FFC480    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}

/* 실버 */
.badge.silver {
  background-color: #C0C0C0; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #C0C0C0,   /* 배경색 좌측상단 */
      #E6E6E6    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}

/* 골드 */
.badge.gold {
  background-color: #FFD700; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #FFD700,   /* 배경색 좌측상단 */
      #FFEDB8    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}

/* 플래티넘 */
.badge.platinum {
  background-color: #E5E4E2; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #E5E4E2,   /* 배경색 좌측상단 */
      #C8DCFF    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}

/* 에메랄드 */
.badge.emerald {
  background-color: #1aa301; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #1aa301,   /* 배경색 좌측상단 */
      #8eff6f    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}

/* 다이아 */
.badge.diamond {
  background-color: #35ccff; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #35ccff,   /* 배경색 좌측상단 */
      #B0E0E6    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}

/* 챌린저 */
.badge.challenger {
  background-color: #8A2BE2; /* 테두리색 */
  background-image: linear-gradient(
      to bottom right,
      #8A2BE2,   /* 배경색 좌측상단 */
      #FF69B4    /* 배경색 우측하단 */
    ),
    linear-gradient(
      125deg,
      rgba(255, 255, 255, 0) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0) 53%
    );
}


@keyframes glint {
  0% {
    left: -120%;
  }
  8% {
    left: 50%;
  }
  100% {
    left: 50%;
  }
}

@keyframes border-glint {
  0% {
    background-position: 0px, -250px;
  }
  25% {
    background-position: 0px, -200px;
  }
  75% {
    background-position: 0px, 50px;
  }
  100% {
    background-position: 0px, 50px;
  }
}
 
 

/* 전체 컨텐츠 레이아웃 */
.content-wrap {
  margin-bottom: 0;
  position: relative;
}

@media screen and (max-width: 1024px) {
	.content-wrap { 
    width: 100% !important;
    min-width: 0!important;
    margin-right: 0!important;
    margin-left: 0!important;
    padding-right: 20px!important;
    padding-left: 20px!important;
  }
}
