/* ====================================== */
/* 게시글 공통 레이아웃                        */
/* ====================================== */
.content-wrap {
  min-width: 1024px;
  width: 50%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
  margin: 80px auto 100px;
}
.content-wrap .board-title {
  height: 60px;
  line-height: 60px;
  margin: 0 0 10px 0;
  position: relative !important;
  display: block;
  align-items: center;
  padding: 0 20px;
  text-decoration: none;
  background: var(--color-bg-point-sub);
  border-radius: 10px;
  color: var(--color-text-sub);
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}
.content-wrap .board-title:hover {
  color: var(--background-main);
}
.content-wrap .board-title.notice-title:hover {
    color: var(--color-text-sub);
}
.content-wrap .board-title-img {
	width: 100px;
	position: absolute; 
	right: 50px;
    bottom: 0;
}
.content-wrap .qna .board-title-img {
	width: 114px;
}
.content-wrap .board-title-1 {
	width: 150px;
	position: absolute; 
	right: 50px;
    bottom: 0;
}
.content-wrap .board-title-2 {
	width: 120px;
	position: absolute; 
	right: 50px;
    bottom: 0;
}
.content-wrap .board-title-3 {
	width: 190px;
	position: absolute; 
	right: 50px;
    bottom: 0;
}
.content-wrap .board-c {
	width: 100%;
}
.content-wrap .post-item-wrap {
  padding: 0 5px;
}
.content-wrap .post-item-wrap a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  text-decoration: none;
  border-bottom: var(--color-border-default);
  transition: 0.3s;
}
.content-wrap .post-item-wrap a:hover {
  background: var(--color-bg-point-sub);
}
.content-wrap .post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-wrap .post-item-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.content-wrap .post-item-header .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content-wrap .post-item-header .writer {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: var(--color-text-sub);
  transition: 0.3s;
}
.content-wrap .post-item-header .time {
  font-size: 10px;
  color: var(--color-text-sub);
}
.content-wrap .post-counts {
  display: flex;
  align-items: center;
  gap: 12px;
}
.content-wrap .post-counts .view-count,
.content-wrap .post-counts .thumb-count,
.content-wrap .post-counts .comment-count {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: var(--text-color-default);
}
.content-wrap .post-counts p {
  font-size: 12px;
  margin: 0;
  font-weight: 500;
  color: var(--color-text-sub);
  opacity: 0.6;
}
.content-wrap .post-counts img {
  width: 16px;
  height: 16px;
  opacity: 0.7;
}
.content-wrap .post-title {
  display: block;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
  color: var(--color-text-main);
  transition: color 0.2s;
}
.content-wrap .post-title span {
  color: var(--color-text-sub);
}
.content-wrap .post-title .important {
  color: var(--background-main);
}

/* ====================================== */
/* 게시글 정보                               */
/* ====================================== */
.board-wrap {
  width: 100%;
}
#main .notice {
  margin: 0 0 30px 0;
}
#main .notice,
#main .qna,
#main .study {
  width: 100%;
  border-radius: 10px;
}
#main .sub-board {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main .qna,
#main .study {
  width: 49%;
}

/* ====================================== */
/* 미디어 쿼리                               */
/* ====================================== */

@media screen and (max-width: 1024px) {
  #main .rank-wrap {
    display: none;
  }
  #main .sub-board {
    flex-wrap: wrap;
  }
  #main .qna,
  #main .study {
    width: 100%;
  }
  #main .qna {
    margin-bottom: 30px;
  }
  #main.content-wrap {
    height: auto;
    margin-bottom: 0;
    position: relative;
  }
  
}


@media screen and (max-width: 1024px) {
	.content-wrap .board-title-img {
   		right: 10px;
  }	
}