.content-wrap {
  flex-direction: column;
}
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--color-border-primary);
  padding: 0 0 20px 0;
}
.profile-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-info h1 {
  color: var(--color-text-main);
  margin: 0 0 5px;
  font-size: 20px;
  font-weight: 700;
}
.profile-info p {
  color: var(--color-bg-sub3);
  margin: 0;
}
.profile-avatar-wrap {
  position: relative;
}
.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: (--background-main);
  color: var(--color-text-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  box-shadow: var(--color-shadow-primary);
}
.settings-icon {
  margin-left: 90px;
  color: var(--color-bg-sub3);
  cursor: pointer;
  display: flex;
  justify-content: end;
  width: 24px;
}
.settings-icon svg {
  width: 24px;
  height: 24px;
}

.tabs {
  display: flex;
  background-color: var(--color-bg-white);
  border-bottom: var(--color-border-primary);
  padding: 0 30px;
  border-radius: 8px;
}
.tab-button {
  background-color: transparent;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.3s, border-bottom 0.3s;
  color: var(--color-text-sub);
  position: relative;
  word-break: keep-all;
}
.tab-button.active {
  color: var(--background-main);
  border-bottom: var(--background-main);
  margin-bottom: -1px;
}
.tab-button:hover:not(.active) {
  color: var(--color-text-main);
}

.tab-content-wrapper {
  padding: 30px;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.post-list {
  list-style: none;
  padding: 0;
}
.post-item {
  background: var(--color-bg-main);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: var(--color-shadow-primary);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: var(--color-border-default);
}
.post-item:hover {
  transform: translateY(-3px);
  box-shadow: var(--color-shadow-default);
}
.post-item h3 {
  color: var(--color-text-main);
  font-size: 18px;
  font-weight: 600;
}
.post-item p {
  margin: 0;
  color: var(--color-bg-sub2);
}
.no-data {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.no-data-illustration {
  width: 200px;
  height: 150px;
  margin: 0 auto;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23bdc3c7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z'%3E%3C/path%3E%3Cpolyline points='14 2 14 8 20 8'%3E%3C/polyline%3E%3Cpath d='M16 13L10 13'%3E%3C/path%3E%3Cpath d='M16 17L10 17'%3E%3C/path%3E%3Cpath d='M10 9L9 9'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
}
.settings-dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 150px;
  background: var(--color-bg-white);
  border: 1px solid var(--color-border-default);
  border-radius: 8px;
  box-shadow: var(--color-shadow-default);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s;
  z-index: 1000;
  padding: 10px;
}
.settings-dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media screen and (max-width: 780px) {
  .profile-avatar {
    width: 60px;
    height: 60px;
    font-size: 13px;
  }
  .no-data {
    gap: 10px;
  }
  .no-data p {
    line-height: 1.4;
    word-break: keep-all;
  }
  .no-data-illustration {
    width: 80px;
    height: 130px;
  }
  .settings-icon {
    margin-left: 50px;
  }
  .post-item p {
    display: none;
  }
  .tab-content-wrapper {
    padding: 0;
  }
}
